/* Footer Styles */
.footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 40px 0;
    font-family: 'Arial', sans-serif;
    border-top: 3px solid #fff;  /* Białe obramowanie na górze */
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  /* Wyśrodkowanie zawartości */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo {
    margin-bottom: 20px;  /* Odstęp między logo a dolną częścią */
    text-align: center;  /* Wyśrodkowanie logo */
}

.footer-logo h2 {
    margin-bottom: 10px;
    font-size: 28px;
}

.footer-logo p {
    font-size: 16px;
    color: #ccc;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}

.footer-bottom p {
    color: #ccc;
}
